﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.ProductViewModel

<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> Tất Cả Các Sản Phẩm </h2>
                    <p>
                        <span class="try_left_dots"></span>NEW<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            @foreach (var item in Model.Prods)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="try_rc_mob_box_wrapper try_lt_st_main_box_wrapper">
                        <div class="try_rc_mob_img">
                            <img src="~/images/content/@item.Img1" alt="@item.NamePro">
                            <a href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="try_rc_mob_img_cont">
                            <h2>@item.NamePro</h2>
                        </div>
                        <div class="try_rc_mob_img_cont_bottom">
                            <p>@string.Format("{0:N0}", item.Price) VNĐ</p>
                            <div class="try_mob_btn_wrapper">
                                <a href="san-pham/@item.Link-@item.IdPro">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

