﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="footer">
<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> CHI TIẾT SẢN PHẨM SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @foreach (var item in Model.Prods)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img id="mainImage" src="~/images/content/@item.Img1" alt="Main
Image" class="img-responsive main-image">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <img src="~/images/content/@item.Img2" alt="Thumbnail 1"
                                         class="img-responsive thumbnail" onclick="changeImage(this)">
                                </div>
                                <div class="col-md-6">
                                    <img src="~/images/content/@item.Img3" alt="Thumbnail 2"
                                         class="img-responsive thumbnail" onclick="changeImage(this)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>@item.NamePro</h2>
                            <h4>
                                Giá gốc: <strike style="color:red;">
                                    @string.Format("{0:N0}",
                                             (float)item.Price * 1.5) VNĐ
                                </strike>
                            </h4>
                            <h4>
                                Giá giảm sốc: <i style="font-weight: bold; color:
green;">@string.Format("{0:N0}", (float)item.Price) VNĐ</i>
                            </h4>
                            <h4>Các lựa chọn hiện có :</h4>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kích cỡ:</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>L</option>
                                            <option>XL</option>
                                            <option>S</option>
                                            <option>M</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Màu:</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Đỏ</option>
                                            <option>Cam</option>
                                            <option>Vàng</option>
                                            <option>Xanh lá</option>
                                            <option>Xanh dương</option>
                                            <option>Hồng</option>
                                            <option>Tím</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <a class="btn btn-danger" href="/them-gio-hang?ProductId=@item.IdPro&Quantity=1"><i class="fa fa-spin fa-spinner"></i> Mua Ngay</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Thông tin sản phẩm:</h4>
                        <p style="text-align: justify">
                            @Html.Raw(item.Detail)
                        </p>
                    </div>
                }
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
 </div>
@section scripts {
    <script>
        function changeImage(img) {
            var mainImage = document.getElementById('mainImage');
            var tempSrc = mainImage.src;
            mainImage.src = img.src;
            img.src = tempSrc;
        }
    </script>
}