﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.HomeViewModel
<!--try top banner main wrapper Start-->
<div class="try_top_banner_wrapper">
    <div class="try_top_side_img">
        <img src="images/header/banner_side.png" alt="side_img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="slider-area">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="carousel-captions caption-1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot_slider_custom_col_img_cont">
                                                <div class="content lr_banner_content_inner_wrapper">
                                                    <h3 data-animation="animated fadeInLeft"> CỦA HÀNG NỘI THẤT UY TÍN RẺ NHẤT </h3>
                                                    <ul class="try_slider_list">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> GIÁ SIÊU RẺ </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="try_slider_btn">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Tìm Hiểu Thêm</a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Mua Ngay</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="try_slider_img_Wrapper try_slider_img_header_Wrapper" data-animation="animated bounceInUp">
                                                    <img src="images/header/mobail.png" alt="mobail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class=" carousel-captions caption-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot_slider_custom_col_img_cont">
                                                <div class="content lr_banner_content_inner_wrapper">
                                                    <h3 data-animation="animated fadeInLeft"> CỦA HÀNG NỘI THẤT UY TÍN RẺ NHẤT </h3>
                                                    <ul class="try_slider_list">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> GIÁ SIÊU RẺ </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="try_slider_btn">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Tìm Hiểu Thêm</a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Mua Ngay</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="try_slider_img_Wrapper try_slider_img_header_Wrapper" data-animation="animated bounceInUp">
                                                    <img src="images/header/mobail.png" alt="mobail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-captions caption-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot_slider_custom_col_img_cont">
                                                <div class="content lr_banner_content_inner_wrapper">
                                                    <h3 data-animation="animated fadeInLeft"> CỦA HÀNG NỘI THẤT UY TÍN RẺ NHẤT </h3>
                                                    <ul class="try_slider_list">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> MIỄN PHÍ VẪN CHUYỂN </a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#"> GIÁ SIÊU RẺ </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="try_slider_btn">
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Tìm Hiểu Thêm</a>
                                                        </li>
                                                        <li data-animation="animated fadeInLeft">
                                                            <a href="#">Mua Ngay</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="try_slider_img_Wrapper try_slider_img_header_Wrapper" data-animation="animated bounceInUp">
                                                    <img src="images/header/mobail.png" alt="mobail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                                    <span class="number"></span>
                                </li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                                    <span class="number"></span>
                                </li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="">
                                    <span class="number"></span>
                                </li>
                            </ol>
                            <div class="carousel-nevigation">
                                <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="next" href="#carousel-example-generic" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--try top banner main wrapper End-->
<!--try timer banner main wrapper Start-->
<div class="try_sofa_timer_main_Wrapper">
    <div class="container">
        <div class="row">
            <div class="try_sofa_timer_inner_wrapper">
                <div class="col-md-6 col-sm-6">
                    <div class="try_sofa_timer_heading">
                        <h2>Ưu Đãi Đặc Biệt Hôm Nay</h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="clockdiv" data-animation="animated flipInY">
                        <div>
                            <span class="days"></span>
                            <div class="smalltext">Days</div>
                        </div>
                        <div>
                            <span class="hours"></span>
                            <div class="smalltext">Hours</div>
                        </div>
                        <div>
                            <span class="minutes"></span>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                            <span class="seconds"></span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>