﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.HomeViewModel

<div class="try_recent_mobail_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="try_recent_mob_heading_wrapper">
					<h2>@Model.SanPhamGheNgoi.NameCat</h2>
					<p>
						<span class="try_left_dots"></span>OFFERS<span class="try_right_dots"></span>
					</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="try_rc_slider_inner_wrapper">
					<div class="owl-carousel owl-theme">
						<!--------------------------------------------------------------------------------------------------->
						@foreach (var item in Model.CatProds)
						{
							<div class="item">
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img src="~/images/content/@item.Img1" alt="@item.NamePro">
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
									<div class="try_rc_mob_img_cont">
										<h2>@item.NamePro</h2>
									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>@string.Format("{0:N0}", item.Price) VNĐ</p> <!-- Sử dụng định dạng giá giống như trước -->
										<div class="try_mob_btn_wrapper">
											<a href="san-pham/@item.Link-@item.IdPro">Chi tiết</a> <!-- Cập nhật link chi tiết sản phẩm -->
										</div>
									</div>
								</div>
							</div>
						}
						<!--------------------------------------------------------------------------------------------------->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="try_recent_mobail_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="try_recent_mob_heading_wrapper">
					<h2>@Model.SanphamBanLamViec.NameCat</h2>
					<p>
						<span class="try_left_dots"></span>OFFERS<span class="try_right_dots"></span>
					</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="try_rc_slider_inner_wrapper">
					<div class="owl-carousel owl-theme">
						<!--------------------------------------------------------------------------------------------------->
						@foreach (var item in Model.CatProds)
						{
							<div class="item">
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img src="~/images/content/@item.Img1" alt="@item.NamePro">
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
									<div class="try_rc_mob_img_cont">
										<h2>@item.NamePro</h2>
									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>@string.Format("{0:N0}", item.Price) VNĐ</p> <!-- Sử dụng định dạng giá giống như trước -->
										<div class="try_mob_btn_wrapper">
											<a href="san-pham/@item.Link-@item.IdPro">Chi tiết</a> <!-- Cập nhật link chi tiết sản phẩm -->
										</div>
									</div>
								</div>
							</div>
						}
						<!--------------------------------------------------------------------------------------------------->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>