﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.UserViewModel

<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> THÔNG TIN NGƯỜI DÙNG SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> Thông tin người dùng</div>
                    <div class="panel-body">
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3">Tên đăng nhập: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Register.Username" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Họ và tên: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Register.Name"
                                           readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Địa chỉ: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Register.Address"
                                           readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Email: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Register.Email"
                                           readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Số điện thoại: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Register.Phone"
                                           readonly />
                                </div>
                            </div>
                        </form>
                        <form method="get" action="chinh-sua-thong-tin">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" class="btn btn-danger"><i class="fa faspin fa-spinner"></i> Chỉnh sửa thông tin</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
