﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.UserViewModel
<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> ĐĂNG NHẬP - SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner faspin"></i> Đăng nhập hệ thống</div>
                    <div class="panel-body">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <form class="form form-horizontal" asp-action="Login" asp-controller="User"
                              method="POST">
                            <div class="form-group">
                                <label asp-for="Register.Username" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Username"
                                           placeholder="Nhập tên đăng nhập" autofocus required />
                                    <span asp-validation-for="Register.Username" class="text-danger"></span>
                                </div>


                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Password" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" asp-for="Register.Password" id="password" placeholder="Nhập mật khẩu" required />
                                    <span asp-validation-for="Register.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-danger">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

