﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.UserViewModel


<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> ĐĂNG KÍ THÀNH VIÊN - SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner faspin"></i> Đăng ký thành viên</div>
                    <div class="panel-body">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <form class="form form-horizontal" asp-action="Register" asp-controller="User"
                              method="POST">
                            <div class="form-group">
                                <label asp-for="Register.Username" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Username"
                                           placeholder="Nhập tên đăng nhập" autofocus required />
                                    <span asp-validation-for="Register.Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Name" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Name"
                                           placeholder="Nhập họ và tên" required />
                                    <span asp-validation-for="Register.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Address" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Address"
                                           placeholder="Nhập địa chỉ" />
                                    <span asp-validation-for="Register.Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Email" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Email"
                                           placeholder="Nhập địa chỉ email" required />
                                    <span asp-validation-for="Register.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Phone" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="Register.Phone"
                                           placeholder="Nhập số điện thoại" required />
                                    <span asp-validation-for="Register.Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Register.Password" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" asp-for="Register.Password" id="password" placeholder="Nhập mật khẩu" required
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                           title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
                                    <span asp-validation-for="Register.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nhập lại mật khẩu:</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="confirmPassword"
                                           placeholder="Nhập lại mật khẩu" required
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                           title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất
một chữ số, một chữ thường và một chữ hoa."
                                           oninput="checkPasswordMatch(this);" />
                                    <div id="passwordMatchMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-danger">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @section scripts {
                    <script>
                        function checkPasswordMatch(input) {
                            var passwordInput = document.getElementById('password');
                            var confirmPasswordInput = input;
                            if (passwordInput.value !== confirmPasswordInput.value) {
                                confirmPasswordInput.setCustomValidity('Mật khẩu không khớp');
                            } else {
                                confirmPasswordInput.setCustomValidity('');
                            }
                        }
                    </script>
                }
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
