﻿<!--try Shipping section Start-->
<div class="try_shippy_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="try_shippy_main_box_wrapper">
                    <div class="try_ship_icon_wrapper">
                        <i class="flaticon-logistics-delivery-truck-in-movement"></i>
                    </div>
                    <div class="try_ship_icon_cont_wrapper">
                        <h3><a href="#">Vận chuyển và trả hàng Nhanh Chóng</a></h3>
                        <h4>
                            Giao hàng miễn phí trên toàn <br>
                            Quốc cho đơn hàng từ 5 triệu trở lên.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="try_shippy_main_box_wrapper try_shippy_main_box_wrapper2">
                    <div class="try_ship_icon_wrapper">
                        <i class="flaticon-24-hours-delivery"></i>
                    </div>
                    <div class="try_ship_icon_cont_wrapper">
                        <h3><a href="#">Hỗ trợ 24/7</a></h3>
                        <h4>
                            Giao hàng miễn phí trên toàn <br>
                            Quốc cho đơn hàng từ 5 triệu trở lên.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="try_shippy_main_box_wrapper try_shippy_main_box_wrapper2">
                    <div class="try_ship_icon_wrapper">
                        <i class="flaticon-protection-shield"></i>
                    </div>
                    <div class="try_ship_icon_cont_wrapper">
                        <h3><a href="#">Thanh toán an toàn 100%</a></h3>
                        <h4>
                            Giao hàng miễn phí trên toàn <br>
                            Quốc cho đơn hàng từ 5 triệu trở lên.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--try Shipping section End-->
<!--------------------------------------------------------------------------------------------------->
<!--try footer section Start-->

<div class="try_footer_main_section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="try_footer_first_sec_wrapper">
                    <b   href="#">
                        <img src="~/images/header/footer_logo-1.png" alt="logo">
                        <span class="shop-text">SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO</span>
                    </b>
                    <h4>
                        Thỏa sức mua sắm với sự đa dạng và chất lượng.
                        Chúng tôi cam kết mang lại trải nghiệm mua sắm tốt nhất cho bạn.
                    </h4>
                    <p>033.665.6538 </p>
                    <h5>Email &nbsp;&nbsp;: &nbsp;&nbsp;<a href="#">TrinhTuanDan@gmail.com</a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-sm-12 col-xs-12">
                <div class="try_footer_second_sec_wrapper">
                    <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                    <ul>
                        <li>
                            <span class="text-align-left"><a href="#">Trợ Giúp</a></span><span class="text-align-right"><a href="#">Tài khoản của tôi</a></span>
                        </li>
                        <li>
                            <span class="text-align-left"><a href="#">Liên hệ chúng tôi</a></span><span class="text-align-right"><a href="#">Trạng thái đặt hàng</a></span>
                        </li>
                        <li>
                            <span class="text-align-left"><a href="#">Bảo hành</a></span><span class="text-align-right"><a href="#">Thanh Toán</a></span>
                        </li>
                        <li>
                            <span class="text-align-left"><a href="#">Điều khoản & điều kiện</a></span><span class="text-align-right"><a href="#">Đặt Hàng</a></span>
                        </li>
                        <li>
                            <span class="text-align-left"><a href="#">Thông tin mua sắm</a></span><span class="text-align-right"><a href="#">Xem Đơn Hàng</a></span>
                        </li>
                        <li>
                            <span class="text-align-left"><a href="#">Phiếu quà tặng</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="try_footer_third_sec_wrapper">
                    <h3> PHẢN HỒI CHO SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO</h3>
                    <div class="try_footer_input_wrapper">
                        <input type="text" placeholder="Email Address">
                        <button>
                            <i class="flaticon-right-arrow-1"></i>
                        </button>
                    </div>
                    <h4>Nhận thông tin cập nhật về các chương trình khuyến mại đặc biệt và 
                        nhiều phần quà hấp dẫn hơn thế nữa</h4>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="try_bottom_footer_wrapper">
                    <p>
                        Copyright © 2024 Đồ Nội Thất Siêu Rẻ . Created by <a href="#">TuanDan</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--try footer section End-->
<!--------------------------------------------------------------------------------------------------->
