﻿<!--------------------------------------------------------------------------------------------------->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="try_top_nav_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs">
                    <div class="try_top_link_btn">
                        <a href="#"><i class="fa fa-angle-double-left"></i> &nbsp;websNoiThat5ConBao.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <div class="try_logo_wrapper try_logo_wrapper_top">
                        <a href="#">
                            <img src="~/images/header/logo-1.png" alt="logo">
                            <span class="shop-text">SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
