﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SHOP HOME - Đồ Nội Thất </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="SHOP HOME - Đồ Nội Thất" />
    <meta name="keywords" content="SHOP HOME - Đồ Nội Thất" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--link dẫn các  css  -->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <!-- Hình LoGo -->
    <link rel="shortcut icon" type="image/png" href="images/header/favicon.png" />

    <!--  --------------------------------------------------------------------------    -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<!------------------------------------------------------------------------------------------->
<body>
    <!-- preloader Start
    <div id="preloader">
        <div id="status">
            <img src="images/header/loder.gif" id="preloader_image" alt="loader">
        </div>
    </div> -->
    <!-- Top Scroll Start -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <div class="main-wrapper">


        <!-- Bắt đầu với các mục tiêu đề chính Header -->
        @Html.Partial("_HeaderPartialView")
        <!-- Kết thúc Header  -->
        @Html.Partial("_MenuPartial")


        @RenderBody()


           
                <!-- Bắt đầu của mục chân trang Footer -->
                @Html.Partial("_FooterPartialView")
                <!-- Kết thúc Footer  -->
          
    </div>

    <!--Thêm link đường truyền đến file Java-->
    <script src="js/jquery_min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/pagenav.js"></script>
    <script src="js/custom.js"></script>

    <!--Thêm link đường truyền đến file Java-->
    <script src="js/site.js"></script>
    <script src="js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<!--------------------------------------------------------------------------------------------------->
</html>
