﻿@using System.Security.Claims

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" datatarget="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model.Menus)
                    {
                        <li><a href="/@item.Link">@item.Title</a></li>
                    }
                </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        string username = User.Identity.Name;
                        string permission = User.FindFirst(ClaimTypes.Role)?.Value;
                        if (permission == "1")
                        {
                            <li><a href="quan-tri"><span class="glyphicon glyphicon-cog"></span></a></li>
                        }
                        else
                        {
                            <li><a href="gio-hang"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        }
                        <li>
                            <a href="thong-tin">
                                <span class="glyphicon glyphicon-user"></span>
                                @username
                            </a>
                        </li>
                        <li><a href="dang-xuat"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    }
                    else
                    {
                        <li>
                            <a href="dang-ky">
                                <span class="glyphicon glyphicon-user"></span> Đăng
                                ký
                            </a>
                        </li>
                        <li>
                            <a href="dang-nhap">
                                <span class="glyphicon glyphicon-log-in"></span> Đăng
                                nhập
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>