﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.CartViewModel

<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> GIỎ HÀNG CỦA SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Giỏ hàng của bạn</div>
                    <div class="panel-body">
                        @if (Model.CartItems.Count > 0)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="text-align:center;font-weight:bold">
                                        <td>Mã SP</td>
                                        <td>Tên SP</td>
                                        <td>Ảnh SP</td>
                                        <td>Số lượng</td>
                                        <td>Đơn giá</td>
                                        <td>Thành tiền</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.Product.IdPro</td>
                                            <td>@item.Product.NamePro</td>
                                            <td>
                                                <img src="~/images/content/@item.Product.Img1"
                                                     width="100" />
                                            </td>
                                            <td><input type="text" class="txtQuantity" data-id="@item.Product.IdPro" value="@item.Quantity" /></td>
                                            <td style="text-align:center">
                                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
                                                         "{0:c}", item.Product.Price.GetValueOrDefault(0))
                                            </td>
                                            <td style="text-align:center">
                                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
                                                         "{0:c}", item.Product.Price.GetValueOrDefault(0) * item.Quantity)
                                            </td>
                                            <td><a href="#" data-id="@item.Product.IdPro" class="btn-delete">Xoá</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
                            <button id="btnUpdate" class="btn btn-info">Cập nhật giỏ hàng</button>
                            <button id="btnDeleteAll" class="btn btn-danger">Xoá giỏ hàng</button>
                            <button id="btnPayment" class="btn btn-success">Thanh toán</button>
                        }
                        else
                        {
                            <div style="margin-top:10px;margin-bottom:10px;margin-left:auto; margin-right:auto">
                                <span class="alert alert-danger">
                                    Bạn chưa có sản phẩm nào trong giỏ hàng
                                </span>
                            </div>
                        }
                    </div>
                    <div class="panel-footer text-center">
                        <ul class="pagination pagination-centered">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="@(i == Model.PageNumber ? "active" : "")"><a href="@Url.Action("Index", new { pageNumber = i })">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
                @section scripts {
                    <script src="~/js/cart.js"></script>
                }
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
 