﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.CartViewModel

<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> THANH TOÁN ĐƠN HÀNG - SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Tiến hành thanh toán</div>
                    <div class="panel-body">
                        @if (Model.CartItems.Count > 0)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="text-align:center;font-weight:bold">
                                        <td>Mã SP</td>
                                        <td>Tên SP</td>
                                        <td>Ảnh SP</td>
                                        <td>Số lượng</td>
                                        <td>Đơn giá</td>
                                        <td>Thành tiền</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.Product.IdPro</td>
                                            <td>@item.Product.NamePro</td>
                                            <td>
                                                <img src="~/images/content/@item.Product.Img1" width="100" />
                                            </td>
                                            <td><input type="text" class="txtQuantity" dataid="@item.Product.IdPro" value="@item.Quantity" disabled /></td>
                                            <td style="text-align:center">
                                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
                                                         "{0:c}", item.Product.Price.GetValueOrDefault(0))
                                            </td>
                                            <td style="text-align:center">
                                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
                                                         "{0:c}", item.Product.Price.GetValueOrDefault(0) * item.Quantity)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-success pull-right">Gửi đơn hàng </button>
                            }
                        }
                        else
                        {
                            <div style="margin-top:10px;margin-bottom:10px;margin-left:auto; marginright:auto">
                                <span class="alert alert-danger"> Bạn chưa có sản phẩm nào trong giỏ hàng</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

