﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.CartViewModel

<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success">
                    Bạn vừa mua hàng thành công! Chúng tôi sẽ gọi điện để xác nhận đơn hàng. SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO xin cảm ơn!
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
