﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.ContactViewModel


<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> THÔNG TIN SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-info-circle"></i>
                        Thông tin cửa hàng
                    </div>
                    <div class="panel-body" style="text-align:justify">
                        <p>
                            Chào mừng bạn đến với SHOP ĐỒ NỘI THẤT - điểm đến lý tưởng cho những người yêu thích trang trí nội thất! SHOP ĐỒ NỘI THẤT không chỉ là một cửa hàng nội thất thông thường, mà còn là điểm đến tuyệt vời cho những người đam mê và quan tâm đến việc tạo ra không gian sống đẹp và thoải mái cho gia đình.
                        </p>
                        <p>
                            Tại SHOP ĐỒ NỘI THẤT, chúng tôi cung cấp một loạt các sản phẩm nội thất chất lượng cao từ sofa, bàn ghế, kệ sách đến các đồ trang trí và phụ kiện làm đẹp cho ngôi nhà của bạn. Chúng tôi cam kết mang lại những sản phẩm đa dạng và đẹp mắt nhất, giúp không gian sống của bạn trở nên ấm áp và sang trọng.
                        </p>
                        <p>
                            Ngoài ra, FURNITURE HAVEN cũng là một nguồn thông tin hữu ích về cách trang trí và bố trí nội thất trong ngôi nhà của bạn. Chúng tôi cung cấp các bài viết, hướng dẫn và tips từ các chuyên gia hàng đầu trong lĩnh vực trang trí nội thất, giúp bạn hiểu rõ hơn về cách tạo ra không gian sống lý tưởng cho gia đình của mình.
                        </p>
                        <p>
                            Hãy ghé thăm SHOP ĐỒ NỘI THẤT ngay hôm nay để khám phá thế giới đa dạng và phong phú của các sản phẩm và dịch vụ trang trí nội thất, và mang về những trải nghiệm tuyệt vời nhất cho không gian sống của bạn!
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-info-circle"></i>
                        Khách hàng nên đọc
                    </div>
                    <div class="panel-body" style="text-align:justify">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#chatluong">
                                    Chất Lượng và An
                                    Toàn
                                </a>
                            </li>
                            <li><a data-toggle="tab" href="#hoantien">Hoàn Tiền và Đổi Trả</a></li>
                            <li><a data-toggle="tab" href="#baomat">Bảo Mật Thông Tin</a></li>
                            <li><a data-toggle="tab" href="#giaohang">Giao Hàng Đúng Hẹn</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="chatluong" class="tab-pane fade in active">
                                <p>
                                    Chúng tôi cam kết cung cấp những sản phẩm chất lượng cao và an toàn
                                    nhất cho thú cưng của bạn. Tất cả các sản phẩm được chọn lựa kỹ lưỡng và kiểm tra chất
                                    lượng để đảm bảo tuân thủ các tiêu chuẩn an toàn và hợp lý.
                                </p>
                            </div>
                            <div id="hoantien" class="tab-pane fade">
                                <p>
                                    Trong trường hợp sản phẩm không đáp ứng được mong đợi của bạn hoặc
                                    có bất kỳ vấn đề gì liên quan đến chất lượng, chúng tôi cam kết hoàn tiền hoặc đổi trả
                                    sản phẩm theo điều kiện cụ thể.
                                </p>
                            </div>
                            <div id="baomat" class="tab-pane fade">
                                <p>
                                    Chúng tôi cam kết bảo vệ thông tin cá nhân của khách hàng và không
                                    chia sẻ thông tin này với bất kỳ bên thứ ba nào mà không có sự đồng ý của khách
                                    hàng.
                                </p>
                            </div>
                            <div id="giaohang" class="tab-pane fade">
                                <p>
                                    Chúng tôi cam kết giao hàng đúng hẹn và đảm bảo sản phẩm được giao
                                    đến tay khách hàng một cách an toàn và nhanh chóng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-info-circle"></i>
                        Thông tin chuyển khoản
                    </div>
                    <div class="panel-body" style="text-align:justify">
                        <p>Vui lòng chuyển khoản thanh toán đến một trong các tài khoản sau:</p>
                        <ul>
                            <li><strong>Ngân hàng ABC:</strong> Số tài khoản: 1234567890</li>
                            <li><strong>Ngân hàng XYZ:</strong> Số tài khoản: 0987654321</li>
                            <li><strong>Ngân hàng DEF:</strong> Số tài khoản: 5432109876</li>
                        </ul>
                        <p>
                            Xin vui lòng ghi rõ thông tin đơn hàng khi chuyển khoản. Đơn hàng sẽ được
                            xác nhận sau khi nhận được thanh toán.
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-info-circle"></i>
                        Phản hồi với SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2" for="txtusername">Họ và tên:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="txtusername"
                                               placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2" for="txtemail">Email:</label>
                                    <div class="col-md-10">
                                        <input type="email" class="form-control" id="txtemail"
                                               placeholder="Nhập địa chỉ email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2" for="txttitle">Tiêu đề:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="txttitle"
                                               placeholder="Nhập tiêu đề">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2" for="txtdetail">Nội dung:</label>
                                    <div class="col-md-10">
<textarea class="form-control" id="txtdetail" rows="5"
          placeholder="Nhập nội dung"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" id="btnSend" class="btn btn-danger">
                                            <i class="fa fa-external-link"></i> Gửi
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

