﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.PostsViewModel


<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> BÀI VIẾT SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary panel-post">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-comments-o"></i> Bài viết chăm sóc thú cưng
                    </div>
                    <div class="panel-body panel-body-post">
                        @foreach (var item in Model.Blogs)
                        {
                            <h4><a href="/chi-tiet-bai-viet/@(item.Link)-@(item.IdBlog)">@item.Title</a></h4>
                            <p>@item.Description</p>
                        }
                    </div>
                    <div class="panel-footer text-center">
                        <ul class="pagination pagination-centered">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
