﻿@model Nhom5conbao_WebsiteNoiThat.ViewModels.PostsViewModel


<div class="try_lt_st_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 try_lt_st_heading_wrapper">
                <div class="try_recent_mob_heading_wrapper">
                    <h2> CHI TIẾT SẢN PHẨM SHOP ĐỒ NỘI THẤT - NHÓM 5 CON BÁO </h2>
                    <p>
                        <span class="try_left_dots"></span>---<span class="try_right_dots"></span>
                    </p>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary panel-post">
                    <div class="panel-heading panel-heading-prod">
                        <i class="fa fa-comments-o"></i> Bài viết SẢN PHẨM NỘI THẤT và DỊCH VỤ
                    </div>
                    <div class="panel-body panel-body-post">
                        @foreach (var item in Model.Blogs)
                        {
                            <h2>@item.Title</h2>
                            <p>@item.Description</p>
                        }
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>



